.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  background-color: #ffce1b;
  padding: 5px;
}

.container div {
  background-color: white;
  padding: 10px;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;  
}