.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  background-color: #ffce1b;
  padding: 15px;
}

.container div {
  background-color: white;
  padding: 20px;
  font-size: 18px; 
}

.header {
  grid-column: 1 / -1;
  text-align: center;
}

.footer {
  grid-column: 1 / -1;
  text-align: center;
}

.container div h3 {
    margin-top: 0;
    font-size: 22px;
}