.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 20px;
  font-size: 20px;
  text-align: center; 
}

.header h1 {
    margin: 0;
    font-size: 32px;
}