.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  background-color:#FFCE1B;
  padding: 10px;
  gap: 10px;
}

.grid-container > div {
  background-color: #f1f1f1;
  color: #000;
  padding: 20px;
  font-size: 18px;
}

.header {
  grid-column: 1 / -1;
  text-align: center;
}

.sidebar {
  text-align: center;
}

.main-content {
  text-align: left;
}

.footer {
  grid-column: 1 / -1;
  text-align: center;
}