.profile-container {
  display: flex;           
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 20px;               
  padding: 20px;
  background-color: LightBlue;
}

.category-card {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;      
  padding: 20px;
  width: 300px;            
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
}

.category-card ul {
  padding-left: 20px;
}
