body {
  background-color: whitesmoke;
}
h1 {
  color: navy;
  margin-left: 20px;
}
p {
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.solid{
    border: 3px solid #007bff;
    padding: 10px;
    display: inline-block;
}